<h1>Halal Hunt une place de découverte et pour faire découvrir <br/>
  les meilleures produits halal dans les domaines religieux, alimentaires, vestimentaires,
  de divertissements ou d'évèvementiels
</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
